* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body {
    background: #dfe9f5;
}
.container {
    width: 400px;
    height: 400px;
    background-color: #eee;
    margin: 5em auto;
}

.form-box {
    text-align: center;
    padding-top: 40px;
}

fieldset {
    border: none;
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.11);
    text-align: center;
    width: 20%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 2em;
}

.alert-success {
    background-color: rgba(11, 218, 11, 0.623);
    text-align: center;
    width: 20%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 2em;
}

.alert-message {
    padding: 20px 20px;
    font-size: medium;
}