* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body {
    background: #dfe9f5;
}
.container {
    width: 400px;
    height: auto;
    background-color: #eee;
    margin: 5em auto;
}

.form-box {
    text-align: center;
    padding: 40px 0;
    
}

fieldset {
    border: none;
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.11);
    text-align: center;
    width: 20%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 2em;
}

.alert-success {
    background-color: rgba(11, 218, 11, 0.623);
    text-align: center;
    width: 20%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 2em;
}

.alert-message {
    padding: 20px 20px;
    font-size: medium;
}

  
fieldset h1 {
    margin-bottom: 20px;
}

#email, #password {
    width: 250px;
    outline: none;
    margin: 10px 0 20px 0;
    padding: 10px;
}

.check-box-label {
    font-size: small;
    padding-left: 5px;
}

.check-box {
    display: flex;
    justify-content: center;
}

#submit {
    margin: 25px 0;
    padding: 10px 15px;
    background: orangered;
    color: white;
    border: none;
}

.small-txt a{
    color: orangered;
    text-decoration: none;
}

.logo {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #00094B;
    text-decoration: none;
    text-align: left;
    display: flex;
}

.container span {
    color: orangered;
}